body {
    background-image: url("img2/class1.jpg");
    background-size: 100% ;
    background-attachment: fixed;
 
}
h2 {
    color: aqua;
}
	
h3{
	color: #ff3874;
}
p {
    color: aliceblue;
}
#number4{
    color:#ff702e;
	font-size: 1.2em;
}
#number5{
    color:#2407ff;
	font-size: 1.5em;
}
